{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container">
    <div class="todo-app">
        <h2>To-Do List <img src="images/todo.png">
        </h2>
        <div class="row">
            <form action="/" method="POST">
                <input type="text" name="content" id="input-box" placeholder="Add your text">
                <input type="submit" value="Add" id="add">
            </form>
        </div>

        <table>
            {% for task in tasks %}
                <tr>
                    <td>
                        <div class="complete">
                            {% if task.complete == 0 %}
                                <a id="incomplete" href="/complete/{{task.id}}">
                                    <img style="width: 20px;" src="images/unchecked.png">
                                </a>
                            {% else %}
                                <a id="complete" href="/complete/{{task.id}}">
                                    <img style="width: 20px;" src="images/checked.png">
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="tasks">
                            <form action="/update/{{ task.id }}" method="POST" onsubmit="updateTask(event)">
                                {% if task.complete == 0 %}
                                    <input type="text" name="content" id="content" value="{{ task.content }}" onchange="this.form.submit();">
                                {% else %}
                                    <input style="text-decoration: line-through;" type="text" name="content" id="content" value="{{ task.content }}" onchange="this.form.submit();">
                                {% endif %}
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="delete">
                            <a id="delete" href="/delete/{{task.id}}">
                                <img src="images/xmark.png">
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    function updateTask(event) {
        event.preventDefault();
        event.target.submit();
    }
</script>
{% endblock %}
